# Python
*.pyc
*.pyo
__pycache__/

# Ambiente Virtual
venv/
env/

# Configurações do Editor
.vscode/
.idea/
*.swp

# Logs
*.log

# Arquivos de Banco de Dados Locais
db.sqlite3
*.sqlite3

# Arquivos Estáticos e de Mídia
staticfiles/
media/

# Arquivos de Migração Django
app/migrations/*.pyc
app/migrations/*.py

# Outras Exclusões
*.tar.gz
*.zip
*.egg-info/
.DS_Store

testes/
